body{
    background-color: #B91450;
    color: white;
}
.margini{
    margin: 10px 100px 50px 100px;
}
.bg-white{
    background-color: white;
}
.bg-grey{
    background-color: #808080;
}
.red-text{
    color: #B91450;
}
form{
    color: black;
}
.bordi{
    border: solid 1px black;
    border-right: none;
}
.paddingform{
    padding: 20px 40px;
    border-radius: 15px;
    
}
.paddingbiglietto{
    padding: 20px;
}
.box1{
    overflow: hidden;
}
.box1 > div{
    display: inline-block;
    padding: 15px;
    margin-bottom: 30px;
}
button{
    margin: 0 10px;
    color: #B91450;
    font-weight: 900;
    font-size: 16px;
    background-color: #CCCCCC;
    border-radius: 4px;
}
label{
    color: #B91450;
}
.myform{
    border: solid 1px #B91450;
}
.boxshadow{
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 20px 5px rgba(0,0,0,0.3); 
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 20px 5px rgba(0,0,0,0.3);
}
.box2 *{
    color: black;
    font-weight:600;
}
main{
    display: flex;
    font-size: 16px;
}
section{
    display: flex;
    flex-grow: 1;
}
.box3{
    display: flex;
    flex-direction: column;
    flex-grow:1;
    padding: 10px;
    flex-shrink: 1;
}
.mylabel{
    margin-bottom: 30px;
    font-size: 20px;
}
aside{
    padding: 20px;
}